* {
    margin: 0;
    padding: 0;
  }
  
  html {
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  body {
    margin: 0;
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url("bg.png");
  }
  
  .container {
    padding: 20px;
    background-color: rgb(250, 250, 250);
    border-radius: 15px;
    box-shadow: 10px 10px rgb(0,0,0,0.2);
  }
  
  h2 {
    text-align: center;
    font-weight: 400;
    padding: 20px;
  }
  
  .habits {
    text-align: left;
    list-style: none;
  }
  
  .habits li {
    border-bottom: 1px solid gray;
    padding: 20px 10px 10px 10px;
    font-weight: 400;
    display: flex;
    align-items: center;
  }
  
  .habits label {
    flex: 1;
    cursor: pointer;
  }
  
  .habits input {
    margin-right: 12px;
  }
  
  .habits input {
    display: none;
  }
  
  .habits input + label:before {
    content: "+";
    margin-right: 12px;
  }
  
  .habits input + label span {
    font-weight: 200;
    font-size: 0.75rem;
  }
  
  .habits input:checked + label {
    text-decoration: line-through;
    color: lightgrey;
  }
  
  .habits button {
    padding-left: 30px;
    background: none;
    margin: 5px;
    outline: 2px;
    border: 0;
    border-radius: 10px;

  }
  
  .add-habit {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid black;
    
  }
  
  .add-habit input {
    padding: 10px;
    margin: 5px;
    outline: 0;
    border: 0;
    border-radius: 100px;
  }
  
  .add-habit select {
    border-radius: 10px;
    border: none;
    
  }
  
  .frequency {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
  }

  .submit {
    box-shadow: 2px 2px rgb(0,0,0,0.3);
  }